@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEncomiendaModel 
@{
}
 
<div class="text-center"></div>
<form method = "POST">

  @* <label for="id" class="form-label">Id:</label>
      <input type="text" class="form-control" id="id"  placeholder="id" asp-for="Encomienda.id" required> *@
  <label for="descripcion" class="form-label">Descripcion:</label>
      <input type="text" class="form-control" id="descripcion"  placeholder="descripcion" asp-for="Encomienda.descripcion"required>
  <label for="peso" class="form-label">Peso:</label>
      <input type="number" class="form-control" id="peso" placeholder="peso" asp-for="Encomienda.peso"required>
  <label for="tipo" class="form-label">Tipo:</label>
      <input type="text" class="form-control" id="tipo" placeholder="tipo" asp-for="Encomienda.tipo"require>
  <label for="presentacion" class="form-label">Presentacion:</label>
      <input type="text" class="form-control" id="presentacion" placeholder="presentacion" asp-for="Encomienda.presentacion"require>

  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
